<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="todo.css">
	<script type="text/javascript" src='angular.min.js'></script>
	<script type="text/javascript" src="todo.js"></script>
</head>
<body>
	<div ng-controller="todoCtrl">
		<h2>totalTodos: {{getTotalTodos()}}</h2>
		<ul>
			<li ng-repeat="todo in todoList">
				<input type='checkbox' ng-model='todo.done' />
				<span class='done-{{todo.done}}'>{{todo.text}}</span>
			</li>
		</ul>
		<input type='text' ng-model='textNew' />
		<button ng-click="addToList()">Add</button>
		<button ng-click="removeCompleted()">clear completed</button>
	</div>
</body>
</html>